.listing {
  height: 150px;
  width: 250px;
  background-color: white;
  border: 2px solid black;
  margin-top: 10px;
  list-style: none;
  padding: 5px;
  text-transform: capitalize;
}

.listingTitle {
  font-size: 30px;
}
