.header {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  position: fixed;
  z-index: 1;
}

.title {
  margin: auto;
  align-self: center;
}

.sfTitle {
  display: inline-block;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
